config-map-aws-auth_*.yaml
kubeconfig_*
.terraform
local
.idea
*.tfstate*
.cache
kustomize
kfctl.yaml
*.hcl

# use other *.tfvars files for parametrization of config-modules
terraform.tfvars

# direnv.net config
.envrc
*.tfvars
